body {
    margin: 0;
    padding: 0;
    background-color: #D7DBD9;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* menu principal */

.menu01{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 38px;
    background-color: #0A250D;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    text-transform: uppercase;
    margin-top: 3px;
}

/* caixa de pesquisa */

.caixa-de-pergunta {
    flex: 1;
    margin: 0 5px;
    /* text-transform: uppercase; */
}

.caixa-de-pergunta input[type="text"] {
    margin-right: 1vw;
    width: 20vw;
    height: 21px;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 11px;
    background-color: #316B3B;
}
.btn-buscar-top{
    margin-left: -46px;
    background:no-repeat;
    border:none;
    cursor: pointer;
    position: fixed;
}

.search-and-login {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/* Entrar e sacola */

.entrar-sacola {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    height: 20px;
    width: 170px ;
}

/* entrar */

.Tex-entrar{
    color: #fff;
    margin-left: 31px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 12px;
    /* font-weight: bold; */
    text-transform: uppercase;
    position: fixed; 
    font-family: 'Fira Sans', sans-serif;
} 

.entrar-tamanho{
    width: 24px;
    height: 24px;
    margin-top: -13px;
    text-transform: uppercase;
    position: fixed; 
}

/* sacola */

.bag-tamanho{
    width: 24px;
    height: 24px;
    margin-top:-13px;
    margin-left: 89px;
    text-transform: uppercase;
    position: fixed;
}
.Tex-bag{
    color: #fff;
    margin-left: 120px;
    margin-top:-7px ;
    text-decoration: none;
    font-size: 12px;
    /* font-weight: bold; */
    text-transform: uppercase;
    position: fixed;
    font-family: 'Fira Sans', sans-serif;

} 

/* menu02  */

.menu02{
    position: fixed;
    margin-top: 38px;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #7C9E82;
    flex-direction:row-reverse;
    display: flex;
}

.Esp-menu-02{
        text-transform: uppercase;
        height: 20px;
        width: 280px ;
        margin-right:3vw; 
        display: flex;
        align-items: center;     
        justify-content: space-around;   
}

    .produto{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }
	.sobre-nos{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }
	.contato{
        font-family: 'Fira Sans', sans-serif;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
    }

/* img fundo */

.esp-fundo{
    position: fixed;
    margin-top: 103px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.esp-img-fundo{
    height: 90vh;
    width: 45vw;
}
.img-fundo{
    margin-top: 8px;
    margin-left: -12px;
    width: 95vh;
    height: 96vh;
    align-items: center;  
    background-repeat: no-repeat;
    text-transform: uppercase;
}
.esp-texto{
    margin-top: 6vh;
    margin-left: 11vw;
    height: 50vh;
    width: 30vw;
    flex-direction:row-reverse;
    text-transform: uppercase;
}
.fonte-menor{
        margin-top: 1vw;
        font-family: 'Fira Sans', sans-serif;
        font-size: 3vh;
        color:#316B3B ;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        position: fixed;
}
.fonte-maior{
        margin-top: 3vw;
        text-transform: uppercase;
        font-family: 'Antic Didone', serif;
        font-size: 14vh;
        color:#031506;
        text-decoration: none;
        font-weight: bold;
        position: fixed;

}









footer {
    position: absolute;
    bottom: 0;
    background-color: #0A250D;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Blocos  */

.espaço01{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

    .bloco01{
        display: flex;
        height: 20vh;
        align-items: center;
        justify-content: center;
     
    }
    .bloco01 > img{
        width: 17vw;
        height: 5vw;

    }

    .bloco02{
        display: flex;
        margin: 10px;
    }
    .espaço-icone > img{
        display: flex;
        flex-direction: column;
        width: 20px;
        margin: 10px;
    }

    .espaço-icone > img{
        display: flex;
        flex-direction: column;
    }

        a{
            color: #FFF;
            margin: 4pt;
            display: flex;
        }

.espaço-text1 > div{
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    line-height: 23px;
    margin: 8px;
}

.espaço-text2{
    margin: 10px;
    font-size: 13pt;
    display: flex;
    flex-direction: column;
}
.espaço-text3{
    margin: 10px;
    font-size: 13pt;
    display: flex;
    flex-direction: column;
}
.espaço-text4{
    width: 10%;
    margin: 10px;
    font-size: 13pt;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.subtext{
    margin: 10px;
    font-size: 12pt;
}
.icone-espaço-texto4{
    flex-direction: column;
    display: flex;
}
.icone-espaço-texto4 > img{
    width: 50%;
    margin: auto;
    margin-bottom: 5px;
    justify-content: space-around;
}