body {
    margin: 0;
    padding: 0;
    background-color: #D7DBD9;
    background-image: url(fundo-fruta.png);
    background-size: auto;
}
body *{
    box-sizing: border-box;
}

.espaço{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-esp{
    width: 60vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto-fundo{
    width: 60%;
    height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 35px;
    background-color: #316B3B;
    border-radius: 3%;
    box-shadow: 0px 10px 40px #163D18;
}

.espaço-tex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.espaço-tex > input{
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 6px;
    background: #D7DBD9;
    font-size: 11pt;
    outline: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 40px #163d18be ;
    margin-bottom: 10px;
}

.espaço-tex > label{
    font-family: 'Fira Sans', sans-serif;
    color: #D7DBD9;
    margin-bottom: 9px;
    font-weight: bold
}

.espaço-tex > input::placeholder{
    color: #163d18be ;
}

.Op{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    height: 4%;
    font-size: 13px;
    color: #D7DBD9 ;
    margin-top: 2px;
    margin-bottom: 4px;
    overflow: hidden;
}

.desenho{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 6%;
    margin-bottom: 4px;
}
.bloquinho-direita{
    background-color: #D7DBD9;
    width: 40%;
    height: 8%;
}
.bloquinho-esquerda{
    background-color: #D7DBD9;
    width: 40%;
    height: 8%;
}
.desenho > p{
    font-size: 20px;
    color: #D7DBD9;
}


.redes{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
    height: 5%;
    margin-top: 9px;
}
.redes > p{
    font-family: 'Fira Sans', sans-serif;
    color: #D7DBD9;
    margin-bottom: 5px;
    font-weight: bold;
    margin-bottom: 19px;
}


.termos_de_uso{
    margin-top:10px ;
    font-family: 'Fira Sans', sans-serif;
    color: #D7DBD9;
    font-size: 9pt;
    text-align: center;
}
.termos_link_link_uso{
    color: rgb(255, 255, 255);
}
.termos_link_link_uso{
    color: rgb(255, 255, 255);
}
.btn-login{
    text-decoration: none;
    color: #D7DBD9;
    background-color: #85A062;
    width: 50%;
    border-radius: 8px;
    padding: 10px 0px;
    margin-top: 38px;
    border: none;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20pt;
    font-weight: bold;
}
.registro2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 5%;
    margin-top: 9px;
}
.registro2>p{
    font-family: 'Fira Sans', sans-serif;
    color: #D7DBD9;
    text-align: center;
    font-weight: bold;
}
.fazer_cadastro{
    color: rgb(255, 255, 255);
}
    

